[submodule "app"]
	path = app
	url = https://github.com/brunodev85/winlator-app
[submodule "vortek"]
	path = vortek
	url = https://github.com/brunodev85/vortek
[submodule "gladio"]
	path = gladio
	url = https://github.com/brunodev85/gladio
